AnacondaProjects/*
!AnacondaProjects/*.ipynb
!AnacondaProjects/*.py
train_guide/**/*
!train_guide/train_guide/*.h
!train_guide/train_guide/*.cpp
train_guide/train_guide/*.txt
train_guide/train_guide/*.out
公司学习
.vscode